body {
  font-family: "Caudex", serif;
}

h1 {
  font-family: "Libre Baskerville", serif;
}

/* ------------------Sidebar---------------------- */

.sidebar button {
  font-family: "Crimson Text", serif;
}

.sidebar {
  background-color: #4db6ac;
  padding: 1.25rem;
  float: left;
  width: 12%;
  height: 100vh;
  margin-right: 0.5rem;
  z-index: 2;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
}

.sidebar a {
  display: block;
  margin-bottom: 1rem;
  text-decoration: none;
}

.sidebar button {
  background-color: #e0f2f1;
  color: #1e51a4;
  border: none;
  padding: 0.625rem;
  width: 90%;
  text-align: left;
  font-size: 1.3rem;
  cursor: pointer;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.3);
}

.sidebar button.forside {
  background-color: #1e51a4;
  color: #fff;
  font-size: 2.2rem;
  padding: 0.5rem;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.3);
}

.sidebar button:hover {
  box-shadow: 0 0.5rem 0.5em rgba(0, 0, 0, 0.3);
}

.log-ud {
  margin-top: 55vh;
}

/* ---------------------Main content------------------- */

.header {
  text-align: center;
  position: fixed;
  left: 42%;
}

/* -----Tilføj Svømmer----- */
#add-swimmer {
  margin-bottom: 1rem;
}

#add-swimmer button {
  padding: 0.5rem 1rem;
  background-color: #1e847c;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#add-swimmer button:hover {
  background-color: #156f68;
}

/*---Table---*/

.table-container {
  position: fixed;
  top: 55%;
  left: 52%;
  width: 60%;
  margin: 0 auto;
  max-height: 35rem;
  transform: translate(-50%, -50%);
  overflow-y: auto;
}

.account-table {
  width: 100%;
}

.account-table thead {
  background-color: #4db6ac;
  cursor: pointer;
}

.account-table tr:not(:first-child):hover {
  background-color: #ddd;
}

th,
td {
  text-align: left;
  padding: 8px;
  border: 1px solid #ddd;
}

td::first-letter {
  text-transform: uppercase;
}

#sort-by-missing-payment {
  width: 20%;
}

.debt {
  color: red;
}

tfoot {
  background-color: #4db6ac;
}

.footer-cell {
  font-weight: bold;
  color: white;
}

#total-pay {
  text-align: center;
  font-size: 1.2em;
  padding-right: 16px;
}


/* -------Forskellige kontingenter-------- */
.table-container-right {
  position: fixed;
  top: 55%;
  left: 90%;
  width: 10%;
  height: 70%;
  transform: translate(-50%, -50%);
  overflow-y: auto;
}

.account-table-right {
  width: 100%;
}
.account-table-right thead {
  background-color: #4db6ac;
}
.account-table-right tr :hover {
  background-color: #ddd;
}

/*-------------- Search bar -------------*/

.search-container {
  text-align: center;
  margin-bottom: 1rem;
}

#search-input {
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 100%;
  max-width: 25rem;
}

#search-input:focus {
  outline: none;
  background-color: #fff;
}

/* ----------Show dialog---------- */

#kontigent-dialog-show {
  border-radius: 10px;
  position: fixed;
  top: 90%;
  left: 40%;
  transform: translate(-50%, -50%);
  width: 400px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background: linear-gradient(45deg, #00c6ff, #023b80);
  color: #ffffff;
  animation: kontigentDialogAnimation 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

#kontigent-dialog-show .logo {
  width: 100px;
  height: auto;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  object-fit: cover;
  border-radius: 50%;
}
#kontigent-dialog-show figure img {
  width: 125px;
  height: 125px;
  border-radius: 10%;
  position: fixed;
  left: 60%;
  top: 30%;
}

.field {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
#kontigent-dialog-show label {
  margin-right: 10px;
  font-weight: bold;
}

#kontigent-dialog-show h3 {
  font-size: 18px;
}

#kontigent-dialog-show label {
  font-size: 20px;
  font-weight: bold;
}

@keyframes kontigentDialogAnimation {
  0% {
    transform: translate(-50%, -50%) scale(1.5);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

#btn-close-dialog {
  background: linear-gradient(45deg, #00c6ff, #023b80);
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
}

/* ----------Update---------- */

#update-button {
  padding: 0.5rem 1rem;
  background-color: #fff;
  color: #080101;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
#update-button:hover {
  background-color: #1e847c;
  color: #fff;
}

#update-button {
  position: absolute;
  right: 4%;
}

/* ----------Update Dialog---------- */
#dialog-update-kontigent {
  position: fixed;
  left: 10%;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background: linear-gradient(45deg, #00c6ff, #023b80);
  color: #ffffff;
  transform: scale(1);
  opacity: 1;
  animation: dialogUpdateAnimation 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

#dialog-update-kontigent .logo {
  width: 130px;
  height: auto;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  object-fit: cover;
  border-radius: 50%;
}

#update-kontigent-btn {
  background: linear-gradient(45deg, #00c6ff, #023b80);
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
}

#update-kontigent-btn:hover {
  background: lightblue;
  color: #fff;
}

.closeButtonKontigent {
  background: linear-gradient(45deg, #00c6ff, #023b80);
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
  position: absolute;
  left: 84%;
  top: 93%;
}

.closeButtonKontigent:hover {
  background: lightblue;
  color: #fff;
}

@keyframes dialogUpdateAnimation {
  0% {
    transform: scale(1.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* ----------Update Button---------- */
.btn-update {
  padding: 0.5rem 1rem;
  background-color: #2bbaae;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-update:hover {
  background-color: #a0dad5;
  color: #fff;
}

/* ----------Kontigent Respons---------- */

.kontigent-feedback {
  position: fixed;
  top: 15%;
  left: 53.2%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  background: linear-gradient(45deg, #f2f2f2, #5100ff);
  color: white;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 0.5s ease;
}

.kontigent-feedback.fade-out {
  opacity: 0;
}

/* ----------Roll down animation tabel---------- */
.account-table-right {
  overflow: hidden;
  transition: max-height 0.5s ease;
  max-height: 50px; /* Startværdi for højden af tabellen */
}
