
body {
  font-family: 'Caudex', serif;
}

h1 {
  font-family: 'Libre Baskerville', serif;

}
header {
  text-align: center;
  position: fixed;
  left: 46%;
}


/* ------------------sidebar---------------- */

.sidebar button {
  font-family: 'Crimson Text', serif;
}



.sidebar button {
  font-family: 'Crimson Text', serif;
}

.sidebar {
  background-color: #4db6ac;
  padding: 1.25rem;
  float: left;
  width: 12%;
  height: 100vh;
  margin-right: 0.5rem;
  z-index: 2;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0; 
}

.sidebar a {
  display: block;
  margin-bottom: 1rem;
  text-decoration: none;
}

.sidebar button {
  background-color: #e0f2f1;
  color: #1e51a4;
  border: none;
  padding: 0.625rem;
  width: 90%;
  text-align: left;
  font-size: 1.3rem;
  cursor: pointer;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.3);

}

.sidebar button.forside {
  background-color: #1e51a4;
  color: #fff;
  font-size: 2.2rem;
  padding: 0.5rem;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.3);
}

.sidebar button:hover {
  box-shadow: 0 0.50rem 0.50em rgba(0, 0, 0, 0.3);
}

.log-ud {
  margin-top: 55vh;
}

/* ------------Add Btn------------- */

#add-training-competetion {
  position: fixed;
  left: 70.5%;
  /* top:-1%; */
  padding: 0.5rem 1rem;
  background-color: #4db6ac;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


#add-training-competetion:hover {
  background-color: #1e847c;
  color: #fff;
} 

.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: -1%;
  margin-top: -1%;
}

#search-input {
  padding: 0.5rem;
  border-radius: 4px;
  border: 3px solid #4db6ac;
  width: 100%;
  max-width: 25rem;
}
#search-input:focus {
  outline: none;
  background-color: #fff;
}


/* -------------Table--------------- */


table {
  border-collapse: collapse;
  margin: 0 auto;
  border-spacing: 0.1em;
  width: 65%;
  margin-bottom: 1em;
    border: #4db6ac solid;

}

.table-wrapper {
  position: fixed;
  top: 15%;
  left: 56%;
  width: 100%;
  margin: 0 auto;
  transform: translate(-50%);

}

.table-container{
  max-height: 18rem;
  overflow-y: auto;
  margin-top: 2rem;

}

table caption {
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 1rem;
}
  th,
  td {
    padding: 8px;
  text-align: left;
    border: 1px solid #DDD;
  }
  
  th {
    cursor: pointer;
  }

table.u18 tr,
table.senior-table tr {
  height: 50px;
}

.u18 thead,
.senior-table thead {
    background-color: #4db6ac;
}

.u18 tr:hover,
.senior-table tr:hover {
  background-color: #ddd;
}

.update-btn, 
.delete-btn {
  padding: 0.5rem 1rem;
  background-color: #4db6ac;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.update-btn:hover,
.delete-btn:hover {
  background-color: #1e847c;
  color: #fff;
} 

td::first-letter {
  text-transform: uppercase;
}

/* -------------Dialog----------------- */


#result-dialog {
  border-radius: 10px;
  position: fixed;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background: linear-gradient(45deg, #00c6ff, #023b80);
  color: #ffffff;
  animation: dialogResultAnimation 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

@keyframes dialogResultAnimation {
  0% {
    transform: translate(-50%, -50%) scale(1.5);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

#result-dialog .logo {
  width: 100px;
  height: auto;
  display: block;
  margin: 20px auto;
  object-fit: cover;
  border-radius: 50%;
}

#result-dialog #image-dialog {
  width: 45%;
  height: 35%;
  float: left;
  margin-right: 20px;
}

#result-dialog .info-competetion-wrapper {
  overflow: auto;
}

#result-dialog .info-swimmer {
  float: left;
  width: 50%;
}

#result-dialog .competetion {
  width: 50%;
  clear: both;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#result-dialog .competetion h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
   margin-right: 10px;
}

#result-dialog .field {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

#result-dialog label {
  margin-right: 10px;
  font-weight: bold;
}

#result-dialog h2,
#result-dialog h3 {
  font-size: 17px;
}

#result-dialog label {
  font-size: 20px;
  font-weight: bold;
}

#result-dialog #btn-close-dialog {
  background: linear-gradient(45deg, #00c6ff, #023b80);
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

#result-dialog #btn-close-dialog:hover {
  background-color: lightblue;
}



/* -------------Add/update Time----------------- */

#add-time, #dialog-update-time {
  position: fixed;
  left: 10%;
  width: 30%;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background: linear-gradient(45deg, #00c6ff, #023b80);
  color: #ffffff;
  transform: scale(1);
  opacity: 1;
  animation: dialogOpenAnimation 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
#add-time .logo,
#dialog-update-time .logo {
  width: 150px;
  height: auto;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  object-fit: cover;
  border-radius: 50%;
}
#add-time form,
#dialog-update-time form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
#add-time label,
#dialog-update-time label {
  margin-bottom: 10px;
  color: #ffffff;
}

#add-time input,
#add-time select,
#dialog-update-time input,
#dialog-update-time select {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: none;
}

.closeButton {
  background: linear-gradient(45deg, #023b80, #00c6ff);
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  position: fixed;
  left: 83%;
  top: 2%;
}

#close-add-btn:hover,
#close-update-btn:hover {
  background: lightblue;
  color: #fff;
}


.add-btn {
  background: linear-gradient(45deg, #00c6ff, #023b80);
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.add-btn:hover {
  background: lightblue;
  color: #fff;
}

#add-time select,
#dialog-update-time select {
  font-size: 16px; 
}



@keyframes dialogOpenAnimation {
  0% {
    transform: scale(1.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

#dialog-delete-member {
  width: 26%;
  height: 20%;
  position: fixed;
  left: 10%;
  top: 1%;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background: linear-gradient(45deg, #00c6ff, #023b80);
  color: #fff;
  animation: zoomOut 0.3s ease-in-out;
  opacity: 1;
}

@keyframes zoomOut {
  0% {
    transform: scale(1.2);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* -------------delete---------------- */

#dialog-delete-time {
  width: 26%;
  height: 20%;
  position: fixed;
  left: 10%;
  top: 1%;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background: linear-gradient(45deg, #00c6ff, #023b80);
  color: #fff;
  animation: zoomOut 0.3s ease-in-out;
  opacity: 1;
}

@keyframes zoomOut {
  0% {
    transform: scale(1.2);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

#dialog-delete-time .logo {
  width: 85px;
  height: auto;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  object-fit: cover;
  border-radius: 50%;
  position: absolute;
  top: 43%;
  left: 76%;
}

.btn-cancel-no {
  background: linear-gradient(45deg, #00c6ff, #023b80);
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
  position: absolute;
  left: 19%;
}

.btn-cancel-yes {
  background: linear-gradient(45deg, #00c6ff, #023b80);
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
  position: absolute;
  left: 2%;
}

.btn-cancel-no:hover {
  background: lightblue;
  color: #fff;
}

.btn-cancel-yes:hover {
  background: lightblue;
  color: #fff;
}

/* -------------Feedback---------------- */
.create-feedback {
  position: fixed;
  top: 15%;
  left: 55%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  background: linear-gradient(45deg, #b5ff7c, #00c811);
  color: white;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 0.5s ease;
}

.create-feedback.fade-out {
  opacity: 0;
}

.delete-feedback {
  position: fixed;
  top: 15%;
  left: 55%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  background: linear-gradient(45deg, #a30000, #ff0000);
  color: white;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 0.5s ease;
}

.delete-feedback.fade-out {
  opacity: 0;
}