body {
  margin: 0;
  padding: 0;
}

.container {
  width: 370px;
  margin: 0 auto;
  margin-top: 200px;
  padding: 20px;
  background-color: white;
  opacity: 0.8;
  border-radius: 5px;
}
.container h2 {
  text-align: center;
}
.container input[type="text"],
.container input[type="password"] {
  width: 91.5%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.container button[type="button"] {
  width: 97%;
  padding: 3%;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* #logo-img {
  display: absolute;
  align-items: center;
  width: 6em;
  height: 6em;
  margin-top: 1em;
} */

.footer {
  background-color: #333;
  color: #fff;
  padding: 2%;
  text-align: center;
  margin-top: 0vh;
  font-size: 1.8vh;
}
/* .footer #logo-img {
  display: flex;
  align-items: left;
  width: 8vh;
  height: auto;
} */

h2 {
  font-size: 2em;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

#logo {
  display: flex;
  width: 17%;
  top: 5%;
  height: auto;
  border: black;
}

.animation-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.water {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00a8e8;
  animation: waterAnimation 4s ease-in-out infinite;
}
#Dolphin1 {
  position: absolute;
  top: 12%;
  left: 50%;
  width: 10%;
  transform: translate(-50%, -50%);
  animation: dolphinAnimation 4s ease-in-out infinite;
}

#Dolphin2 {
  position: absolute;
  top: 41%;
  left: 25%;
  width: 10%;
  transform: translate(-50%, -50%);
  animation: dolphinAnimation 4s ease-in-out infinite;
}
#Dolphin3 {
  position: absolute;
  top: 72%;
  left: 50%;
  width: 10%;
  transform: translate(-50%, -50%);
  animation: dolphinAnimation 4s ease-in-out infinite;
}

#Dolphin4 {
  position: absolute;
  top: 41%;
  left: 75%;
  width: 10%;
  transform: translate(-50%, -50%);
  animation: dolphinAnimation 4s ease-in-out infinite;
}

#button {
  width: 30%;
  padding: 0.2%;
  background-color: #d6ead6;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login:hover {
  background-color: #00a8e8;
}

/* .bubble-container {
  position: relative;
  top: 41%;
  left: 75%;
  width: 10%;
  overflow: hidden;
}
.bubble {
  position: absolute;
  top: 41%;
  left: 75%;
  width: 10%;
  background-color: #f10000;
  border-radius: 50%;
  animation: bubbleAnimation 3s infinite;
} */

/* input:invalid:required {
  background-image: linear-gradient(to right, rgb(0, 106, 255), rgb(238, 144, 144));
} */

/* ------------------error messages---------------------- */

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

@media (max-width: 480px) {
  input,
  button {
    width: 100%;
  }
}

input:invalid {
  box-shadow: 0 0 5px 1px red;
}

input:focus:invalid {
  box-shadow: none;
}
