body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin-bottom: 2em;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
}

body {
  font-family: 'Caudex', serif;
}

h1 {
  font-family: 'Libre Baskerville', serif;
}

.sidebar button {
  font-family: 'Crimson Text', serif;
}


th,
td {
  padding: 8px;
  text-align: center;
  border: 1px solid #DDD;
}

.sidebar button {
  font-family: 'Crimson Text', serif;
}

.sidebar {
  background-color: #4db6ac;
  padding: 1.25rem;
  float: left;
  width: 12%;
  height: 100vh;
  margin-right: 0.5rem;
  z-index: 2;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  
}

.sidebar a {
  display: block;
  margin-bottom: 1rem;
  text-decoration: none;
}

.sidebar button {
  background-color: #e0f2f1;
  color: #1e51a4;
  border: none;
  padding: 0.625rem;
  width: 90%;
  text-align: left;
  font-size: 1.3rem;
  cursor: pointer;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.3);

}

.sidebar button.forside {
  background-color: #1e51a4;
  color: #fff;
  font-size: 2.2rem;
  padding: 0.5rem;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.3);
}

.sidebar button:hover {
  box-shadow: 0 0.50rem 0.50em rgba(0, 0, 0, 0.3);
}
.log-ud {
  margin-top: 55vh;
}

table {
  border-collapse: separate;
  border-spacing: 0.1em;
  width: 65%;
  margin-bottom: 6em;
}

table td,
table th {
    padding: 8px;
  text-align: left;
  padding: 0.5em;
}

table.u18 tr,
table.senior tr {
  height: 50px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.container table {
  width: 50%;
}

table caption {
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 1rem;
}

.u18 thead {
    background-color: #4db6ac;
}

.senior thead {
    background-color: #4db6ac;
}

